body {
  cursor: none;
}

.custom-cursor {
  position: fixed;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background: white;

  pointer-events: none;

  z-index: 99999;

  transform: translate(-50%, -50%);

  box-shadow:
    0 0 10px rgba(255,255,255,.9),
    0 0 20px rgba(255,255,255,.7),
    0 0 40px rgba(255,255,255,.4);

  transition:
    left 0.05s linear,
    top 0.05s linear;
}